/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro&display=swap');
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Tiro', Arial, sans-serif;
    
}
.game-logo {
    width: 200px;
    display: block;
    padding: 10px;
    margin: 0 auto; /* Centers the image horizontally */
}

.hamburger-menu {
    color:white;
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    top: 5px;
    left: 5px;
}
.header {
    display: flex;
    justify-content: center;  
    align-items: center;      
    margin-bottom: 2px;   
    background: #ffa200; 
    color: black; 
    font-family: 'Atma', sans-serif; 
    padding: 2px 2px; 
    border-radius: 2px; 
    font-size:12px;
    text-align: center;
    margin: 2px auto;
    margin-top:45px;
    width: 100%; /* Adjust width as needed */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
}
.landing-header {
    display: flex;
    justify-content: center;  
    align-items: center;      
    margin-bottom: 2px;   
    background: #ffa200; 
    color: black; 
    font-family: 'Tiro', sans-serif; 
    padding: 2px 2px; 
    border-radius: 2px; 
    font-size:12px;
    text-align: center;
    margin: 2px;
    margin-top:0px;
    width: 100%; /* Adjust width as needed */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
}
.footer {
    background-color: #ffa200; /* Dark background for the footer */
    color: black;
    padding: 10px 20px;
    text-align: center; /* Center the icons */
}

.footer a {
    color: black; /* White color icons */
    margin: 0 10px; /* Space out icons */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.footer a:hover {
    color: #ccc; /* Lighter color on hover */
}

.menu {
    position: absolute;
    background-color: #000000;
    color:white;
    box-shadow: 0 4px 8px rgb(255, 255, 255,0.3);
    padding: 10px;
    top: 10px;
    left: 10px;
    border-radius: 5px;
    z-index: 100;
}

.menu ul {
    list-style: none;
    padding: 10;
}

.menu li {
    padding: 10px;
    cursor: pointer;
}

.game-container {
    
    display: flex;
    flex-direction: column; /* side by side panels by default */
    height: 100vh;
    align-items: stretch; 
    background-color:black;
    justify-content:space-between;
}

.top-panel {
   
  display: block;
  justify-content: center;
  align-items: center;
  padding: 5px; /* Adds padding for layout */
  box-sizing: border-box;
}
.game-name-label, .game-name-dropdown {
    display: inline-block; /* Allows the label and dropdown to sit next to each other */
    margin-bottom: 2px; /* Adds spacing between the dropdown and subsequent elements */
  margin-top :50px;
  margin-left:40px;
  margin-right:40px;
}

.game-name-label {
    font-weight: bold; /* Makes the label stand out*/
    alignmemt:center;
    margin-right: 10px;/* Adds space between the label and dropdown */
  margin-top : 150px;
  color: yellow;
}

.game-name-dropdown {
    padding: 5px; /* Adds padding for better touch targets */
    font-size: 16px; /* Sets font size for readability */
  alignmemt:center;

  background-color: Maroon;
  border-block-color :white;
  color: white;
}

.bottom-panel {
    
    background-color: #000000;
    justify-self: center;
    align-self: center;
    padding: 10px; /* Adds padding for layout */
    padding-top:40px;
    box-sizing: border-box;
    font-size: 28px;
}

.form-style {
    width: 100%;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.01);
    color:white;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.data-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.data-table th, .data-table td {
    text-align: left;
    padding: 8px;
    border: 1px solid black;
}

.data-table input[type="text"] {
    width: 100%;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-size:28px;
}

button {
    padding: 8px 8px;
    background-color: black;
    color: white;
    box-shadow: 0px 0px 8px 2px white;
    cursor: pointer;
    display: block;
    font-size:28px;
    margin: 10px auto;
}
/* Define a class for styling the GameRule text */
.game-rule {
    font-size: 16px;    /* Set the font size */
    color: yellow;      /* Set the font color */
    text-align: center; /* Optional: Align the text centrally if needed */
    padding: 5px;      /* Optional: Adds padding for better spacing */
}
/* Define a class for styling the GameName text */
.game-name {
    font-weight: bold;
    font-size: 26px;    /* Set the font size */
    color: white;      /* Set the font color */
    text-align: center; /* Optional: Align the text centrally if needed */
    padding: 5px;      /* Optional: Adds padding for better spacing */
}
/* Media Queries for iPads and mobile devices */
@media (max-width: 768px) {
    .game-container {
        flex-direction: column; 
      
    }

    
  .top-panel {
      background-size: contain; /* Ensures the entire image is visible */
  }
  .bottom-panel {
      background-size: contain; /* Ensures the entire image is visible */
  }
  .game-rule {
      font-size: 18px; /* Slightly smaller font size for tablets */
  }

  .game-name {
      font-size: 26px; /* Slightly smaller font size for tablets */
  }
}
@media (max-width: 480px) {
    .game-container {
        flex-direction: column; 
     
    }
    .top-panel {
        background-size: contain; 
      padding: 1px
    }
    .bottom-panel {
      background-size: contain; 
    }
  .game-rule {
      font-size: 16px; 
      color: #FFFF00; 
      padding: 1px; 
  }

  .game-name {
      font-size: 26px; 
      color: #FFFFFF; 
      padding-top: 0px; 
      padding-bottom: 0px;
     margin :5px
  }
  .game-name-label {
      
      margin-bottom: 1px; 
    margin-top :70px
  }
   .game-name-dropdown {

      margin-bottom: 1px; 
    margin-top :2px
  }
}
@media (min-width: 768px) {
   
    .top-panel {
        background-size: contain; 
    }
    
  
}
